<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Task</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
  <script src="https://cdn.bootcss.com/ramda/0.25.0/ramda.min.js"></script>
  <script src="https://cdn.bootcss.com/lodash.js/4.17.5/lodash.min.js"></script>
</head>

<body>
  <div id="app" class="container">
    <div class="row justify-content-md-center mt-5">
      <!--- TODO: 如何把 menu 抽离成组件 -->
      <div class="col-md-1">
        <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-secondary" v-on:click="onSelected()" v-for="item in items">{{ item.text }}</button>
        </div>
      </div>

      <div class="col-md-2">
          <my-component></my-component>
        </div>

      <!-- TODO: 如何把这部分抽离成一个 task-list 组件 -->
      <div class="col-md-6" v-if="currentMenuTagStatus === false">
        <div class="list-group">
          <task-item v-bind:item="item" v-bind:tag="false" v-for="item in tasks"></task-item>
        </div>
      </div>

      <div class="col-md-6" v-else>
        <div class="list-group">
          <task-item v-bind:item="item" v-bind:tag="true" v-for="item in tasks"></task-item>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<script>
  Vue.component('task-item', {
    props: ['item', 'tag'],
    template: `
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" v-if="item.tag === tag">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ item.title }}</h5>
        <small>{{ item.createAt }}</small>
      </div>
      <p class="mb-1">{{ item.content }}</p>
      <small v-if="item.completed">已完成</small>
      <div class="float-right" v-else>
        <button class="btn btn-primary btn-sm" v-on:click="onCompleted">完成</button>
      </div>
    </a>
    `,
    methods: {
      onCompleted() {
        console.log('task-item onCompleted');
        // TODO: 如何把点击事件传递给父层
      }
    }
  })

  var Child = {
    template: `<div>A custom compontent!</div>`
  }

  var tasks = function () {
    let tasks = [];
    for (let i = 0; i < 10; i++) {
      tasks.push({
        title: 'task' + (i + 1),
        content: 'content' + (i + 1),
        tag: false,
        completed: true,
        createAt: (new Date()).toString()
      })
    }
    return tasks;
  }();

  var app = new Vue({
    el: '#app',
    data: {
      items: [{
        tag: false,
        text: '未完成'
      },
      {
        tag: true,
        text: '完成'
      }],
      currentMenuTagStatus: false,
      tasks: tasks,
      isShow: true
    },
    methods: {
      onSelected(tag) {
        this.currentMenuTag = tag;
      },
      onCompleted() {

      }
    },
    components: {
      'my-component': Child
    }
  });
  app.currentMenuTagStatus = app.menus[0].tag;
</script>